<mat-card>
    <mat-card-content [formGroup]="toDoForm">
        <div class="card-title">
            <span>Editar tarea</span>
            <button mat-button routerLink="/todos/list">
                <mat-icon>arrow_back</mat-icon>
                Volver
            </button>
        </div>
        
        <div align="end">
            <mat-slide-toggle formControlName="done" labelPosition="before" color="accent">
                Realizada
            </mat-slide-toggle>
        </div>

        <mat-form-field>
            <mat-label>Título</mat-label>
            <input matInput formControlName="title" type="text" autocomplete="off" spellcheck="false">
            <mat-error *ngIf="titleError"> {{titleErrorMsg }} </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description" autocomplete="off" spellcheck="false"></textarea>
            <mat-error *ngIf="descriptionError"> {{ descriptionErrorMsg }} </mat-error>
        </mat-form-field>
    </mat-card-content>

    <div class="btns-container">
        <button mat-stroked-button color="warn" type="button" (click)="removeToDoDialog()">Eliminar</button>
        <button mat-flat-button color="primary" type="button" (click)="updateToDo()">Guardar</button>
    </div>
</mat-card>