<div class="row">
    <div class="offset-0 offset-md-2 offset-lg-3 col-12 col-md-8 col-lg-6">
        <mat-card>
            <h2>Bienvenido a su Gestor de Tareas</h2>
        
            <p>Elija una opción a continuación</p>

            <div class="btns-container">
                <button mat-stroked-button routerLink="/todos/new">Crear nueva tarea</button>
                <button mat-stroked-button color="accent" routerLink="/todos/list">Ver tareas creadas</button>
            </div>
        </mat-card>
    </div>
</div>